[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
python-decouple = "*"
ipykernel = "*"
textblob = "*"
spacy = "*"
pandas = "*"
nest-asyncio = "*"
matplotlib = "*"
python-dotenv = "*"
wordcloud = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
